body {
    margin: 0 auto;
    
}

h1 {
    text-align: center;
    color: blue;
    font-size: 80px;
    padding-top: 50px;
}

h2 {
    text-align: center;
    color: white;
}

#Game-Body {
    margin: 0 auto;
    background-color: lightblue;
    width: 90%;
    padding-bottom: 50px;
}

#Seconds-Remaining {
    width:50%;
    margin: 0 auto;
    text-align: center;
    color: red;
    font-size: 40px;
    margin-bottom: 20px;
}

.Quiz-Results {
    width:50%;
    margin: 0 auto;
    text-align: center;
    color: blue;
    font-size: 40px;
    margin-bottom: 20px;
}


.Question {
    width:80%;
    margin: 0 auto;
    text-align: center;
    color: blue;
    font-size: 50px;
    padding:20px;
    font-weight: 900;
}

.radioButtons {
    width:80%;
    margin: 0 auto;
    text-align: center;
    color: blue;
    font-size: 50px;
    padding:20px;
}

.answers {
    width:80%;
    margin: 0 auto;
    text-align: center;
    color: blue;
    font-size: 50px;
    padding:20px;
}

.answers-question {
    width:80%;
    margin: 0 auto;
    text-align: center;
    color: blue;
    font-size: 20px;
    padding:30px;
}